.sign-in {

    width:450px; //30 percent of view width
    display:flex;
    flex-direction:column;

    .title {
        margin:10px 0;
    }

    .buttons {
        display:flex;
        justify-content: space-between;
    }

}